@model ABdolphin.Models.Farmer

@{
    ViewBag.Title = "AddPayFarmers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



@using (Html.BeginForm("AddPayFarmers", "Farmers", FormMethod.Post, new { @id = "form1", @autocomplete = "off" }))
{
    <div class="contents">
        <div class="atbd-page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-default p-left-0 p-bottom-0">
                            <div class="card-body">
                                <ul class="atbd-breadcrumb nav">
                                    <li class="atbd-breadcrumb__item">
                                        <a href="#">
                                            <span class="la la-home"></span>
                                        </a>
                                        <span class="breadcrumb__seperator">
                                            <span class="la la-slash"></span>
                                        </span>

                                    </li>
                                    <li class="atbd-breadcrumb__item">
                                        <a href="#">Farmer Payment List</a>
                                        <span class="breadcrumb__seperator">
                                            <span class="la la-slash"></span>
                                        </span>
                                    </li>

                                    <li class="atbd-breadcrumb__item">
                                        <span>Add Payment</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="breadcrumb-main m-0">
                                <h4 class="text-capitalize breadcrumb-title">Add Payment</h4>
                                <p class="text-success mb-0">
                                    @TempData["SucMsgFarmer"]
                                </p>
                                <div class="breadcrumb-action justify-content-center flex-wrap">
                                    <div class="action-btn">
                                        @if (Model.EncryptKey != null && Model.EncryptKey != "")
                                        {
                                            <a class="btn btn-primary btn-sm" target="_blank" href="/Farmers/PaymetFarmers?fid=@Model.EncryptKey"> <i class="fa fa-plus-circle text-white"></i> View Payment History</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Name<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Farmer Name" })
                            @Html.HiddenFor(m => m.PK_Farmerid)
                            @Html.HiddenFor(m => m.EncryptKey)
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Mobile</label>
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile", @onkeypress = "return isNumberKey(event);", @maxlength = "10" })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputPassword4" class="form-label">Associate Id</label>
                            @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Associate ID", @onchange = "return getSponsorName();", @readonly = true })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputPassword4" class="form-label">Associate Name</label>
                            @Html.TextBoxFor(m => m.DelearName, new { @class = "form-control", @Placeholder = "Associate Name", @readonly = "readonly" })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Area<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.Hectare, new { @class = "form-control", @placeholder = "Hectare", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-4 mb-3" style="display:none">
                            <label for="inputPassword4" class="form-label">Acre<span>&nbsp;</span></label>
                            @Html.TextBoxFor(m => m.Acre, new { @class = "form-control", @Placeholder = "Acre", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">SQFT<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.SQFT, new { @class = "form-control", @Placeholder = "SQFT.", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputPassword4" class="form-label">Gata/Khasra No.</label>
                            @Html.TextBoxFor(m => m.GataKhasaraN, new { @class = "form-control", @Placeholder = "Gata/Khasra No.", @readonly = true })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Total Balance<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.TotalBalance, new { @class = "form-control", @Placeholder = "Total Balance", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputPassword4" class="form-label">Paid Amount<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control", @Placeholder = " Paid Amount", @type = "number" })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Remaining Amount</label>
                            @Html.TextBoxFor(m => m.RemainingAmount, new { @class = "form-control", @Placeholder = "Remaining Amount", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputPassword4" class="form-label">Payment Type:<span style="color:red">*</span></label>
                            @Html.DropDownListFor(m => m.PayType, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return OnPayTypeChange();" })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">  Payment Date<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.Paymentdate, new { @class = "form-control", @readonly = true })
                        </div>

                        <div class="col-md-4 mb-3" id="divtransactiono" style="display: none">
                            <label for="inputEmail4" class="form-label"><span id="txnNo"></span> <span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.TransactionNo, new { @class = "form-control", @Placeholder = "Cheque/Transaction Number", @maxlength = "50" })
                        </div>

                        <div class="col-md-4 mb-3" id="divPaymentDate" style="display: none">
                            <label for="inputEmail4" class="form-label"><span id="txndt"></span><span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Cheque/Transaction Date", @Readonly = "readonly" })
                        </div>

                        <div class="col-md-4 mb-3" id="divbankname" style="display: none">
                            <label for="inputEmail4" class="form-label"> Bank Name <span style="color: red">*</span> </label>
                            @Html.DropDownListFor(m => m.Fk_BankId, new SelectList(ViewBag.ddlTransactionType, "Value", "Text"), new { @class = "TransactionID form-control" })
                        </div>

                        <div class="col-md-4 mb-3" id="divbankbranch" style="display: none">
                            <label for="inputEmail4" class="form-label"> Bank Branch <span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                        </div>

                        @*<div class="col-md-4 mb-3">
                <label for="inputEmail4" class="form-label">Company Name <span style="color: red">*</span></label>
                @Html.DropDownListFor(m => m.Fk_CompanyId, new SelectList(ViewBag.ddlcompany, "Value", "Text"), new { @class = "form-control", @disabled = true })
            </div>*@

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label"> Account Head Name <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.FK_AccountHeadId, new SelectList(ViewBag.ddlAccountHead, "Value", "Text"), new { @class = "form-control" })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Expense Category <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.Fk_ExpenseCategory, new SelectList(ViewBag.ddlExpenseCategory, "Value", "Text"), new { @class = "form-control" })
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="inputEmail4" class="form-label">Remark:</label>
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                        </div>
                        <div class="col-md-4 mb-3">
                            <input class="btn btn-success" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    $('#Hectare').keyup(function () {
        var getacre = parseFloat(2.47107 * $(this).val()).toFixed(2);
        $('#Acre').val(getacre);
        var getsqft = parseFloat(107639 * $(this).val()).toFixed(2);
        $('#SQFT').val(getsqft);
    });
    $('#Acre').keyup(function () {
        var gethectare = parseFloat(0.404686 * $(this).val()).toFixed(2);
        $('#Hectare').val(gethectare);
        var getsqft = parseFloat(43560 * $(this).val()).toFixed(2);
        $('#SQFT').val(getsqft);
    });
    $('#SQFT').keyup(function () {
        var gethectare = parseFloat($(this).val() / 107639).toFixed(2);
        $('#Hectare').val(gethectare);
        var getacre = parseFloat($(this).val() / 43560).toFixed(2);
        $('#Acre').val(getacre);
    });
        function validatePayAmount() {
            debugger
            var payAmount = $('#PaidAmount').val();
            var actualAmount = $('#TotalBalance').val();
            var disc = $('#RemainingAmount').val();
            var remaining = (Number)(actualAmount) - (Number)(payAmount);
            $("#RemainingAmount").val(remaining);

            if ((Number)(payAmount) > ((Number)(actualAmount))) {
                $("#PaidAmount").addClass('errortext');
                $('#PaidAmount').focus();
                $("#PaidAmount").val('');
                $("#RemainingAmount").val(0);
                alert("Pay Amount cannot be greater than Total Balance Amount ");
                return false;
            }

            else {
                $("#PaidAmount").removeClass('errortext');
                return true;
            }
        }
        function OnPayTypeChange() {
            debugger
            if ($('#PayType').val() == "1") {
                $("#divbankname").show();
                $('#Fk_BankId').val('8');

            }
            if ($('#PayType').val() == "2") {
                $('#txnNo').html('Cheque No.');
                $('#txndt').html('Cheque Date');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "Cheque No.");
                $("#TransactionDate").attr("placeholder", "Cheque Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "3") {
                $('#txndt').html('NEFT Date');
                $('#txnNo').text('NEFT No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "NEFT No.");
                $("#TransactionDate").attr("placeholder", "NEFT Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "4") {
                $('#txndt').html('DD Date');
                $('#txnNo').text('DD No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "DD No.");
                $("#TransactionDate").attr("placeholder", "DD Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "5") {
                $('#txndt').html('RTGS Date');
                $('#txnNo').text('RTGS No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "RTGS No.");
                $("#TransactionDate").attr("placeholder", "RTGS Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "6") {

                $('#txndt').html('IMPS Date');
                $('#txnNo').text('IMPS No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "IMPS No.");
                $("#TransactionDate").attr("placeholder", "IMPS Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "7") {
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").hide();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#divPaymentDate").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "8") {
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").hide();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#divPaymentDate").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "9") {
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#divPaymentDate").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "10") {
                $('#txndt').html('UPI Date');
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
                $("#TransactionDate").attr("placeholder", "UPI Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else if ($('#PayType').val() == "11") {
                $("#divPaymentDate").hide();
                $("#divtransactiono").hide();
                $("#divbankname").hide();
                $("#divbookingno").hide();
                $("#divbankbranch").hide();
                $("#TransactionNo").attr("placeholder", "Reciept No.");
                $("#TransactionDate").attr("placeholder", "Transaction Date");
                $('#Fk_BankId').val('0');
                $('#Fk_BankId').attr('disabled', false);
            }
            else {
                $("#divPaymentDate").hide();
                $("#divtransactiono").hide();
                $("#divbankname").show();
                $("#divbankbranch").hide();
            }
        }
        $('#Paymentdate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
        });
        $('#CashDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            yearRange: "1900:2021"
        });
        $('#TransactionDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
        });
        function isNumberOrDecimal(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        function validateform() {
            $("#divload").css({ 'display': 'none' });
            $(".errortext").removeClass("errortext");
            if ($('#Name').val() == '') {
                $("#Name").addClass('errortext');
                $('#Name').focus();
                return false;
            }
            if ($('#TotalBalance').val() == '') {
                $("#TotalBalance").addClass('errortext');
                $('#TotalBalance').focus();
                return false;
            }
            if ($('#PaidAmount').val() == '') {
                $("#PaidAmount").addClass('errortext');
                $('#PaidAmount').focus();
                return false;
            }
            if ($('#PayType').val() == '0') {
                $("#PayType").addClass('errortext');
                $('#PayType').focus();
                return false;
            }
            if ($('#Fk_BankId').val() == '0') {
                $("#Fk_BankId").addClass('errortext');
                $('#Fk_BankId').focus();
                return false;
            }
            if ($('#FK_AccountHeadId').val() == '0') {
                $("#FK_AccountHeadId").addClass('errortext');
                $('#FK_AccountHeadId').focus();
                return false;
            }
            if ($('#Fk_ExpenseCategory').val() == '0') {
                $("#Fk_ExpenseCategory").addClass('errortext');
                $('#Fk_ExpenseCategory').focus();
                return false;
            }
    debugger
    if ($('#Paymentdate').val() == '' || $('#Paymentdate').val() == null) {
        $("#Paymentdate").addClass('errortext');
        $('#Paymentdate').focus();
                return false;
            }
    if ($('#Fk_CompanyId').val() == '0') {
        $("#Fk_CompanyId").addClass('errortext');
        $('#Fk_CompanyId').focus();
        return false;
    }
    if ($('#PayType').val() == '2') {
        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#TransactionDate').val() == '') {
            $("#TransactionDate").addClass('errortext');
            $('#TransactionDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Fk_BankId').val() == '') {
            $("#Fk_BankId").addClass('errortext');
            $('#Fk_BankId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#BankBranch').val() == '') {
            $("#BankBranch").addClass('errortext');
            $('#BankBranch').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
        else if ($('#PayType').val() == '3') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#Fk_BankId').val() == '') {
                $("#Fk_BankId").addClass('errortext');
                $('#Fk_BankId').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
    else if ($('#PayType').val() == '4') {
        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#TransactionDate').val() == '') {
            $("#TransactionDate").addClass('errortext');
            $('#TransactionDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Fk_BankId').val() == '') {
            $("#Fk_BankId").addClass('errortext');
            $('#Fk_BankId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#BankBranch').val() == '') {
            $("#BankBranch").addClass('errortext');
            $('#BankBranch').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
        
    else if ($('#PayType').val() == '7') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

    }
    else if ($('#PayType').val() == '8') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    else if ($('#PayType').val() == '9') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    else if ($('#PayType').val() == '10') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    else if ($('#PayType').val() == '11') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#TransactionDate').val() == '') {
            $("#TransactionDate").addClass('errortext');
            $('#TransactionDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
            $("#divload").css({ 'display': '' });
            return true;
        }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

