@model ABdolphin.Models.Farmer

@{
    ViewBag.Title = "Farmerlist";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("Farmerlist", "Farmers", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="contents">
        <div class="atbd-page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-default card-md mb-4">
                            <div class="card-body">
                                <ul class="atbd-breadcrumb nav">
                                    <li class="atbd-breadcrumb__item">
                                        <a href="#">
                                            <span class="la la-home"></span>
                                        </a>
                                        <span class="breadcrumb__seperator">
                                            <span class="la la-slash"></span>
                                        </span>

                                    </li>
                                    <li class="atbd-breadcrumb__item">
                                        <a href="#">Farmers Management</a>
                                        <span class="breadcrumb__seperator">
                                            <span class="la la-slash"></span>
                                        </span>
                                    </li>

                                    <li class="atbd-breadcrumb__item">
                                        <span>Farmers Details</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table mb-0 table-borderless">
                                    <thead>
                                        <tr class="userDatatable-header">
                                            <th>S.No.</th>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th style="min-width:55px">Gata No.</th>
                                            <th>Hectare</th>
                                            <th>SQFT</th>
                                            <th>Village</th>
                                            <th>Status</th>
                                            <th>Company</th>
                                            <th style="min-width: 85px !important;">Registry Date</th>
                                            <th style="min-width: 75px !important;">Registry File</th>
                                            <th>Status</th>
                                            <th>Payment</th>
                                            <th>View</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.FarmerList != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.FarmerList)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td style="min-width:80px">@Item.JoiningDate</td>
                                                        <td style="min-width:100px">@Item.Name</td>
                                                        <td>@Item.GataKhasaraN</td>
                                                        <td>@Item.Hectare</td>
                                                        <td>@Item.SQFT</td>
                                                        <td style="min-width:105px">@Item.Village</td>
                                                        <td>@Item.Status</td>
                                                        <td style="min-width:90px">@Item.CompanyName</td>
                                                        <td>@Item.RegistryDate</td>
                                                        @*<td>@Item.IDProof</td>*@

                                                        @if (Item.IDProof == "N/A")
                                                        {
                                                            <td>@Item.IDProof</td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <a target="_blank" href="@Item.IDProof">
                                                                    <i class="fa fa-file-pdf" style="font-size:28px;color:red"></i>
                                                                </a>
                                                            </td>
                                                        }
                                                        <td>

                                                            @if (Item.FStatus == "Active")
                                                            {
                                                                <a class="btn btn-success btn-sm" href="/Farmers/Active?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" data-original-title="Click to Inactive" onclick="return Inactive();">Active</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-danger btn-sm" href="/Farmers/Active?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" onclick="return Active();" data-original-title="Click to Active">Inactive</a>
                                                            }
                                                        </td>
                                                        <td class="payment">
                                                            <a href="/Farmers/AddPayFarmers?id=@Item.EncryptKey" class="btn btn-primary btn-sm" data-original-title="Click to Payment">Payment</a>
                                                        </td>
                                                        <td style="min-width: 140px !important;">
                                                            <a target="_blank" href="/Farmers/PaymetFarmers?fid=@Item.EncryptKey" class="btn btn-warning btn-sm" data-original-title="Click to Payment">View Ledger</a>
                                                        </td>
                                                        <td class="edit">
                                                            <a href="/Farmers/AddFarmers?id=@Item.EncryptKey" class="btn btn-info btn-sm edit" data-original-title="Click to Edit"> Edit</a>
                                                        </td>
                                                        <td class="delete">
                                                            <a href="/Farmers/DeleteFarmers?id=@Item.EncryptKey" class="btn btn-danger btn-sm delete" data-original-title="Click to Delete" onclick="return confirm('Are you sure you want to delete this farmer?');"> Delete</a>
                                                        </td>

                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total </th>
                                            <th>@ViewBag.Hectare</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th> </th>
                                            <th> </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}