@model ABdolphin.Models.Farmer

@{
    ViewBag.Title = "FarmerPlotRegistrylist";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("FarmerPlotRegistrylist", "Farmers", FormMethod.Post, new { @id = "form1" }))
{
    <div class="contents">
        <div class="atbd-page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-default card-md mb-4">
                            <div class="card-body">
                                <ul class="atbd-breadcrumb nav">
                                    <li class="atbd-breadcrumb__item">
                                        <a href="#">
                                            <span class="la la-home"></span>
                                        </a>
                                        <span class="breadcrumb__seperator">
                                            <span class="la la-slash"></span>
                                        </span>

                                    </li>
                                    <li class="atbd-breadcrumb__item">
                                        <a href="#">Farmer</a>
                                        <span class="breadcrumb__seperator">
                                            <span class="la la-slash"></span>
                                        </span>
                                    </li>

                                    <li class="atbd-breadcrumb__item">
                                        <span>Farmer Plot Registry List</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-header">
                            <h2>Farmer Plot Registry List</h2>
                            <p class="text-success mb-0 p-left-50">
                                @TempData["plotregistrylist"]
                            </p>
                            <div class="breadcrumb-action justify-content-center flex-wrap">
                                <div class="action-btn">
                                    <a class="btn btn-primary btn-sm" target="_blank" href="/Farmers/FarmerPlotRegistry"> <i class="fa fa-plus-circle text-white"></i> Add New</a>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="inputEmail4" class="form-label">Farmer Name</label>
                                    @Html.DropDownListFor(m => m.PK_Farmerid, new SelectList(ViewBag.FarmerloginId, "Value", "Text"), new { @class = "form-control select2" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="inputPassword4" class="form-label">Customer Name</label>
                                    @Html.DropDownListFor(m => m.CustomerId, new SelectList(ViewBag.CustomerLoginId, "Value", "Text"), new { @class = "form-control select2" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="inputPassword4" class="form-label">From Date</label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "true" })
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="inputEmail4" class="form-label">To Date</label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                                </div>

                                <div class="col-md-6 col-lg-6 mb-3">
                                    <input style="margin-top:34px;" class="btn btn-success" type="submit" value="Search" id="btnSearchCustomer" name="Search" />
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Plot Details</th>
                                            <th>Customer Name</th>
                                            <th>Farmer Name</th>
                                            <th>Registry Date</th>
                                            <th>Gata No.</th>
                                            <th>Total Area (SQFT)</th>
                                            <th>Plot Size (SQFT)</th>
                                            <th>Remaining Area (SQFT)</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.FarmerPlotList != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.FarmerPlotList)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td style="min-width:200px">@Item.PlotNumber</td>
                                                        <td>@Item.CustomerName</td>
                                                        <td style="min-width:150px">@Item.FarmerName</td>
                                                        <td>@Item.RegistryDate</td>
                                                        <td>@Item.GataKhasaraN</td>
                                                        <td>@Item.TotalBalance</td>
                                                        <td>@Item.PlotSize</td>
                                                        <td>@Item.RemainingArea</td>

                                                        <td>
                                                            @if (Item.FStatus == "Active")
                                                            {
                                                                <a class="badge badge-success" href="/Farmers/Plotactive?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" data-original-title="Click to Inactive" onclick="return Inactive();">Active</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="badge badge-danger" href="/Farmers/Plotactive?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" onclick="return Active();" data-original-title="Click to Active">Inactive</a>
                                                            }
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-primary" href="/Farmers/FarmerPlotRegistry?EncryptKey=@Item.EncryptKey" data-toggle="tooltip" title="">Edit</a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger delete" href="/Farmers/DeleteFarmerPlotRegistry?EncryptKey=@Item.EncryptKey" data-toggle="tooltip" name="btndelete" title="" onclick="confirm('Are You Sure You Want To Delete This Farmer Details')">Delete</a>
                                                        </td>

                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                                <input type="hidden" id="UserType" value="@Session["UserType"]" />
                                <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}



<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }

    });


    function GetMenuDetails() {
        var URL = "/Farmers/FarmerPlotRegistrylist";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",

            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(data);
                for (var i = 0; i < obj.length; i++) {
                    debugger
                    if (obj[i].FormDelete == true && obj[i].FormUpdate == false) {
                        $(".delete").show();
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(true);
                    }
                    else if (obj[i].FormDelete == false && obj[i].FormUpdate == true) {
                        $(".delete").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(false);
                    }
                    else if (obj[i].FormDelete == true && obj[i].FormUpdate == true) {
                        $(".delete").show();
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(true);
                    }

                    else if (obj[i].FormDelete == false && obj[i].FormUpdate == false) {
                        $(".delete").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(false);
                    }

                    else {
                        $(".delete").hide();
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(false);
                    }

                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }




    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function Inactive() {
        debugger
        if (confirm("Are you sure you want to Inactive this plot registry ?")) {
            return true;
        } else {
            return false;
        }
    }
    function Active() {
        debugger
        if (confirm("Are you sure you want to Active this plot registry ?")) {
            return true;
        } else {
            return false;
        }
    }
</script>